@darkBlue: #00273f;
@blue: #046a76;
@dangerRed: #a94442;
@softBlue: #97cdd4;
@lightBlue: #01b5cc;
@orange: #f26f31;
@lightGreen: #bee89a;
@green: #8ab961;
@darkGrey: #333333;
@grey: #5e5e5e;
@lightGrey: #d0d0d0;
@greyWhite: #e9e9e9;
@basicallyWhite: #f8f8f8;
@intelligent-view-bck: #088392;
@footerGrey: #5e5e5e;
@footerDarkGrey: #444444;
@footerDarkestGrey: #222222;