// out: ../css/master.css, sourcemap: true, compress: true
@import "_mixins";
@font-face {
  font-family: 'Lato2';
  src: url(../fonts/Lato-Light.ttf);
}
body {
  font-family: "Lato2";
  background-color: #fff;
}
label {
  color: @grey;
}
a {
  font-size: 13px;
  text-decoration: none;
  color: @lightBlue;
}
ul.clean-list {
  list-style-type: none;
  padding-left: 0;
}
ul.inline-list {
  li {
    display: inline-block;
  }
}
ul.module-list {
  padding-left: 0;
  font-size: 25px;
  color: @blue;
  li {
    display: inline-block;
  }
}
ul.selected-attribute-list {
  li {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 20px;
    button {
      margin-left: 5px;
      font-size: 20px;
    }
  }
}
ul.branch-list {
  padding-left: 0;
  list-style-type: none;
  li {
    padding: 5px 10px;
    background-color: white;
    &::before {
      content: ">";
      display: inline;
      padding-right: 5px;
    }
    &.active {
      background-color: @blue;
      color: white;
      &::before {
        content: "v";
      }
    }
  }
}
ul.leaf-list {
  padding-left: 0;
  list-style-type: none;
  li {
    padding: 5px 10px;
    &::before {
      content: "+";
      display: inline-block;
      padding-right: 5px;
    }
  }
}
ul.radio-list {
  li {
    padding: 5px 20px;
    margin-right: 5px;
  }
}
input[type=radio],
input[type=checkbox] {
  margin-right: 5px;
  height: initial !important;
  line-height: initial !important;
  border: initial !important;
  background-color: initial !important;
  border-radius: initial !important;
  width: initial !important;
}
input[type=file] {
  border: none!important;
}
.dropdown-menu {
  z-index: auto;
}
.map {
  width: 100%;
}
.text-color-primary {
  color: @blue;
}
.no-pad {
  padding: 0 !important;
}
.nav-padding {
  padding-left: 5px;
  padding-right: 5px;
}
.no-margin {
  margin: 0 !important;
}
.inline {
  display: inline;
}
.text-center {
  text-align: center;
}
.btn-soft,
.btn-muted,
.btn-primary,
.btn-default,
.btn-secondary,
.btn-soft-secondary {
  color: white;
  outline: none;
  border: none;
  &:hover {
    color: white;
  }
}
.btn-soft {
  background-color: @softBlue;
  &:hover {
    background-color: lighten(@softBlue, 10%);
  }
}
.btn-muted {
  background-color: @lightGrey;
  &:hover {
    background-color: lighten(@lightGrey, 10%);
    color: @grey;
  }
}
.btn-primary {
  background-color: @blue;
  &:hover {
    background-color: lighten(@blue, 10%);
  }
}
.btn-default {
  border: none;
  background-color: #f26f31;
  color: #fff;
  &:hover {}
}
.btn-link {
  color: @lightBlue;
}
.btn-icon {
  background: none;
  font-size: 25px;
  padding: 0;
  vertical-align: top;
}
.btn-secondary {
  background-color: @green;
  &:hover {
    background-color: lighten(@green,10%);
  }
}
.btn-soft-secondary {
  background-color: @lightGreen;
  &:hover {
    background-color: lighten(@lightGreen,10%);
  }
}
.btn-cog {
  display: inline-block;
  padding: 0;
  background: none;
  border: none;
}
.panel-sub-section {
  margin-top: 35px;
  margin-bottom: 20px;
  position: relative;
  border: 2px solid @lightGrey;
  padding: 10px 35px 10px 70px;
  border-radius: 2px;
  i {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 40px;
    color: @blue;
  }
}
.pagination {
  margin: 0;
}
.pagination li {
  margin-right: 5px;
  display: inline-block;
  font-weight: 700;
  a {
    background-color: @lightGrey;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    line-height: 22px;
    height: 25px;
    width: 25px;
    padding: 0;
    i {
      line-height: 26px;
    }
  }
  &.active {
    a {
      background-color: @blue;
    }
  }
}
input#search {
  display: inline-block;
  width: auto;
}
.help {
  .search-form {
    button {
      margin-left: 5px;
      line-height: 100%;
    }
  }
}
.report-create-wiz {
  .btn {
    margin-right: 5px;
  }
}
.report-export {
  p {
    font-size: 18px;
  }
}
.report-analyzing {
  p {
    font-weight: 100;
    font-size: 24px;
    text-align: center;
  }
}
table.simple-attributes-table {
  td:first-of-type {
    min-width: 200px;
    font-weight: bold;
  }
}
.x {
  font-size: 25px;
  position: relative;
  top: -7px;
  display: block;
  &,
  &:focus,
  &:visited,
  &:active {
    color: @dangerRed;
  }
  &,
  &:focus,
  &:hover,
  &:active,
  &:visited {
    text-decoration: none;
  }
  &:hover {
    color: lighten(@dangerRed, 10%);
  }
}
.collapsable-section {
  margin-bottom: 2px;
  .collapsable-section-header {
    padding: 10px;
    background-color: @lightGrey;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    &.expanded-header {
      background-color: @blue;
    }
    .menu-btn {
      float: left;
      vertical-align: middle;
      margin-right: 15px;
      height: 10px;
      i {
        font-size: 30px;
        line-height: 36px;
      }
    }
  }
  .collapsable-section-body {
    padding: 10px;
  }
}
.collapsable-section.report-create-collapsable-section {
  .menu-btn {
    border: 1px solid white;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-top: 3px;
    margin-right: 20px;
    position: relative;
    .checkmark {
      i {
        display: none;
        font-size: 35px;
        position: absolute;
        left: -2px;
        top: -6px;
        display: none;
      }
    }
  }
  .collapsable-section-header.complete .menu-btn .checkmark i {
    display: initial !important;
  }
  .form-group {
    label {
      padding-left: 0 !important;
    }
    select {
      width: 100%;
      border-radius: 2px;
      border-color: #BDBDBD;
    }
    i {
      vertical-align: middle;
      font-size: 20px;
    }
  }
}
.nested {
  padding-left: 15px;
}
.checkbox-label {
  padding-right: 10px;
  i {
    padding-right: 5px !important;
  }
}
.subtext {
  color: @lightGrey;
  font-size: 12px;
}
.help-section {
  color: @grey;
  padding-top: 20px;
  padding-bottom: 50px;
  border-bottom: 1px solid @lightGrey;
  &:last-of-type {
    border: 0;
    padding-bottom: 15px;
  }
  h4 {
    font-size: 24px;
    margin: 0 25px 20px 0;
    vertical-align: middle;
    a {
      font-size: 16px;
      margin-left: 25px;
    }
  }
  p {
    font-size: 14px;
  }
  h5 {
    font-size: 16px;
    padding-bottom: 10px;
  }
  &.key-features {}
  &.quick-help {
    padding-top: 10px;
    padding-bottom: 15px;
  }
  &.faqs {
    p {
      background-color: @blue;
      border-radius: 10px;
      padding: 15px;
      color: #fff;
      font-size: 16px;
    }
  }
  &.latest-updates {
    li {
      margin-bottom: 20px;
    }
  }
}
.form-inline {
  label {
    vertical-align: text-top;
  }
  i {
    padding-right: 5px;
  }
}
.form-group {
  margin-bottom: 23px;
  & > label {
    padding-left: 10px;
    font-size: 18px;
    font-weight: 400;
    i {
      vertical-align: middle;
      padding-right: 10px;
    }
    &.with-icon {
      padding-left: 0;
    }
  }
  input,
  textarea,
  .form-select {
    height: 24px;
    line-height: 16px;
    border: 2px solid @lightGrey;
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
  }
  input[type=number] {
    padding-top: 0;
    padding-bottom: 0;
  }
  textarea {
    height: auto;
    min-height: 150px;
  }
}
.popover {
  border: 2px solid @blue;
  padding: 0;
  border-radius: 3px;
  font-family: inherit;
  max-width: 388px;
  &.right {
    top: 150px;
  }
  .close {
    position: absolute;
    top: 1px;
    right: 10px;
    opacity: 1;
    width: 12px;
    height: 12px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .popover-title-container {
    background-color: @blue !important;
    margin: 0;
    padding: 5px;
    background-color: #f7f7f7;
    line-height: 20px;
    font-size: 16px;
    color: #fff;
    .popover-title {
      font-weight: 400;
    }
  }
  .popover-title {
    background: none;
    color: #fff;
    border-bottom: none;
    padding: 0;
    font-size: 18px;
  }
  .popover-content {
    padding: 25px;
    font-size: 12px;
    color: @grey;
  }
  .help-pop-over {
    background-color: white;
    color: @blue;
    cursor: initial;
  }
  .arrow {
    display: none;
  }
}
.help-pop-over {
  height: 18px;
  width: 18px;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  background: #046a76;
  margin-right: 5px;
  cursor: pointer;
}
.n-per-page {
  float: right;
  label {
    float: right;
  }
}
.n-per-page-select {
  float: right;
  margin-left: 8px;
  position: relative;
  height: 25px;
  background-color: @lightGrey;
  border-radius: 4px;
  &,
  * {
    color: #fff;
  }
  .dropdown-indicator {
    background: none;
    position: relative;
    font-weight: 400;
    background: none;
    &::before,
    &::after {
      position: absolute;
      right: 0;
      font-family: "SSGizmo";
      width: 26px;
      text-align: center;
      pointer-events: none;
    }
    &::before {
      top: -3px;
      content: "";
    }
    &::after {
      top: 7px;
      content: "";
    }
  }
  select {
    text-align: right;
    &:focus {
      outline: none;
    }
    background: none;
    line-height: 25px;
    border: none;
    padding-left: 10px;
    padding-right: 25px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    option {
      width: 100%;
    }
  }
}
.form-select {
  position: relative;
  &,
  * {
    color: #afafaf;
  }
  .dropdown-indicator {
    background: none;
    position: relative;
    font-weight: 400;
    width: 100%;
    background: none;
    padding-left: 6px;
    &::before,
    &::after {
      position: absolute;
      right: 0;
      font-family: "SSGizmo";
      width: 26px;
      text-align: center;
      pointer-events: none;
      color: #afafaf;
    }
    &::before {
      top: 0;
      font-weight: 700;
      content: "";
    }
    &::after {
      top: 8px;
      font-weight: 700;
      content: "";
    }
  }
  select {
    text-align: right;
    &:focus {
      outline: none;
    }
    background: none;
    border: none;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    option {
      width: 100%;
    }
  }
}
.modal {
  padding-right: 0 !important;
}
.modal-footer,
.modal-header,
.modal-body {
  border: 0;
}
.modal-header,
.modal-footer {
  padding-top: 0;
  padding-bottom: 0;
}
.modal-header {
  button.close {
    margin-top: -23px;
    margin-right: -35px;
    opacity: 1;
    &:hover {
      opacity: 0.8;
    }
  }
}
.modal-body {
  padding: 0 10px 0 0;
  textarea {
    resize: vertical;
  }
}
.modal-footer {
  padding-top: 10px;
}
.modal-content {
  padding: 40px;
  label,
  h4 {
    color: @grey;
  }
  h4 {
    font-size: 42px;
    font-weight: 300;
  }
}
#secondary {
  padding-bottom: 30px;
}
.panel {
  padding: 20px 25px;
  border: 2px solid #e9e9e9;
  border-radius: 12px;
}
.help {
  p {
    padding-bottom: 15px;
  }
}
.faq {
  // padding-bottom: 20px;
  // padding-top: 20px;
}
.module > div:not(.clearfix) {
  display: table-cell;
  float: none;
  vertical-align: top;
}
#modules {
  .module {
    margin-left: -10px;
    margin-right: -10px;
    display: table;
    border-bottom: 1px solid @lightGrey;
    margin-bottom: 20px;
    padding-bottom: 40px;
    &:last-of-type {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 20px;
    }
    .module-details {
      padding-right: 20px;
      h2 {
        color: @grey;
      }
      p {
        color: @lightGrey;
      }
      a {
        color: @lightBlue;
      }
    }
    .module-icon-container {
      width: 60px;
      height: 170px;
      float: left;
      padding-top: 15px;
      i {
        color: @blue;
        font-size: 60px;
        display: block;
      }
    }
  }
}
#cog-modal {
  .modal-body {
    padding-top: 20px;
  }
  .cog-actions {
    text-align: center;
    .cog-action {
      display: inline-block;
      text-decoration: none;
      margin-left: 10px;
      margin-right: 10px;
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
      i {
        height: 70px;
        font-size: 60px;
        display: block;
        &.ss-logout {
          padding-left: 10px;
        }
      }
    }
  }
}
.tool > div:not(.clearfix) {
  display: table-cell;
  float: none;
  vertical-align: top;
}
.tool {
  display: table;
  .tool-details {
    padding-right: 20px;
    h2 {
      color: @grey;
    }
    p {
      color: @lightGrey;
    }
    a {
      color: @lightBlue;
    }
  }
  & > .row {
    border-bottom: 1px solid @lightGrey;
    padding-bottom: 75px;
    padding-top: 25px;
    &:last-of-type {
      border-bottom: none;
    }
  }
  .tool-icon-container {
    width: 80px;
    height: 170px;
    float: left;
    i {
      color: @blue;
      font-size: 80px;
      display: block;
    }
  }
}
.row.seperated-md {
  border-bottom: 1px solid @lightGrey;
  margin-bottom: 20px;
  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
  }
}
.file-type-body {
  h2 {
    margin-top: 0;
  }
}
.file > div:not(.clearfix) {
  display: table-cell;
  float: none;
  vertical-align: top;
}
.file {
  display: table;
  padding-bottom: 20px;
  padding-top: 10px;
  width: 100%;
  .file-details {
    width: 100%;
    padding-left: 10px;
    h2 {
      color: @grey;
      display: inline;
      font-size: 20px;
    }
    p {
      color: @lightGrey;
    }
    a {
      color: @lightBlue;
    }
    .help-pop-over {
      margin-top: 4px;
    }
  }
  .file-icon-container {
    width: 50px;
    float: left;
    i {
      color: @blue;
      font-size: 38px;
      display: block;
      text-align: left;
    }
  }
}
header {
  .btn-default {
    padding: 6px 19px;
    border-radius: 5px;
  }
  background: url(../images/header-img.png)no-repeat center bottom;
  .help-options {
    padding: 8px 0;
    height: 36px;
  }
  .login-form {
    margin-top: 23px;
    float: right;
  }
  .logged-in-text {
    color: @grey;
    padding-left: 14px;
    padding-right: 14px;
  }
  &.authenticated {
    border-bottom: 8px solid @blue;
    .logo-link {
      margin-bottom: 30px;
    }
    .logged-in-container {
      margin-top: 25px;
    }
  }
  .logged-in-container {
    float: right;
    margin-top: 20px;
    .glyphicon {
      background-color: @grey;
      color: #fff;
      font-size: 22px;
      padding: 4px;
      border-radius: 2px;
      vertical-align: middle;
    }
  }
  .logo-link {
    display: block;
    margin-bottom: 65px;
  }
  nav {
    .text-name {
      padding-left: 10px;
    }
    a {
      color: @grey;
      font-size: 18px;
    }
    .nav-button {
      background-color: #fff;
      padding: 5px 0 4px;
      height: 35px;
      text-decoration: none;
      display: block;
      &:hover,
      &.active {
        * {
          color: #fff;
        }
      }
      &:hover {
        background-color: lighten(@blue,10%);
      }
      &.active {
        background-color: @blue;
      }
      .icon-image {
        height: 22px;
      }
    }
    i {
      font-size: 20px;
      color: @grey;
      vertical-align: middle;
    }
    .glyphicon-wrench {
      font-size: 15px;
    }
  }
}
#customer-profile {
  background: url(../images/newYork-bck.png)no-repeat center top;
  background-color: @grey;
  height: 270px;
  .fixed {
    float: right;
    width: 92px;
  }
  .fluid {
    padding-right: 101px;
  }
  .big-bad-dropdown-label {
    font-size: 72px;
    color: #fff;
    font-weight: 300;
    position: relative;
    display: block;
  }
  .big-bad-dropdown {
    position: relative;
    width: 100%;
    font-weight: 400;
    select {
      &:focus {
        outline: none;
      }
      border: none;
      padding-left: 25px;
      width: 100%;
      background-color: @lightGrey;
      height: 73px;
      color: #fff;
      border-radius: 8px;
      font-size: 30px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      option {
        width: 100%;
      }
    }
  }
  .big-bad-dropdown:after {
    content: "";
    font-family: "SSGizmo";
    font-size: 35px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50pt;
    line-height: 60pt;
    vertical-align: middle;
    text-align: center;
    background: @lightGrey;
    color: #fefefe;
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
    pointer-events: none;
    -webkit-box-shadow: -10px 0 20px -5px @lightGrey;
    -moz-box-shadow: -10px 0 20px -5px @lightGrey;
    box-shadow: -10px 0 20px -5px @lightGrey;
  }
  button {
    margin-top: 1px;
    height: 72px;
    width: 100%;
    font-size: 36px;
    border: 0;
  }
}
.whats-new {
  h1 {
    font-weight: 300;
    color: @grey;
    font-size: 48px;
  }
  h2 {
    color: @lightBlue;
    font-size: 22px;
    font-weight: 300;
  }
  p {
    font-size: 14px;
    max-width: 350px;
    text-align: left;
    color: @grey;
  }
  hr {
    margin-bottom: 0;
  }
  .see-all {
    font-size: 18px;
    color: @lightBlue;
    font-weight: 400;
    position: absolute;
    top: 21px;
    padding-left: 150px;
  }
  .text-center {
    position: relative;
  }
  .content {
    padding-top: 35px;
  }
  .posted-date-text {
    color: @lightGrey;
    // margin-bottom: 40px;
    padding-top: 4px;
  }
  .title-emphasis {
    color: @orange;
  }
  a {}
  .whats-new-feature-left {
    padding-left: 80px;
    padding-right: 40px;
    margin-top: 6px;
    margin-bottom: 107px;
    border-right: 1px #d0d0d0 solid;
  }
  .whats-new-feature-right {
    padding-left: 40px;
    padding-right: 80px;
    margin-top: 6px;
  }
  .carousel {
    .carousel-indicators li {
      background-color: @lightGrey;
      width: 18px;
      height: 18px;
      margin: 0;
    }
    .carousel-indicators .active {
      background-color: #046a76;
      width: 18px;
      height: 18px;
    }
    .carousel-control {
      background: none;
      width: 5%;
      top: 50%;
      span {
        padding: 11px 11px 5px;
        background-color: grey;
        width: auto;
        height: auto;
        border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
      }
      margin-top: -61px;
    }
  }
}
.new-to-intelligent-view {
  background: @intelligent-view-bck;
  h1,
  h2,
  h3 {
    color: #fff;
  }
  h1 {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 4px;
  }
  h2 {
    font-size: 24px;
    font-weight: 300;
    margin-top: 0;
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    color: #fff;
    background: url(../images/list-style.png) no-repeat left center;
    font-size: 16px;
    text-decoration: none;
    padding: 0 0 0 29px;
    margin-bottom: 11px;
    a {
      color: #fff;
      font-size: 16px;
    }
  }
  .title-emphasis {
    color: @orange;
  }
  .container {
    padding-top: 35px;
  }
  .intelligent-view-lists {
    margin-top: 12px;
  }
}
.intelligent-view-tips {
  background: url(../images/intelligent-view.png) no-repeat center top;
  background-image: url(../images/intelligent-view.svg);
  background-size: cover;
  width: 745px;
  height: 202px;
  padding: 45px 75px;
  margin-top: 60px;
  h1 {
    color: @darkBlue;
    font-size: 42px;
    text-align: left;
    margin-top: 10px;
  }
  h2 {
    color: #333333;
    font-size: 26px;
    text-align: left;
    max-width: 445px;
  }
}
.module-highlights-section {
  background: @lightGrey;
  h1 {
    font-size: 36px;
    color: @grey;
    margin-bottom: 23px;
    font-weight: 300;
  }
  h2 {
    font-size: 30px;
    color: @grey;
    margin-bottom: 18px;
  }
  p {
    font-size: 14px;
    color: @grey;
  }
  a {
    font-size: 14px;
    color: @lightBlue;
  }
  .container {
    padding-top: 33px;
    padding-bottom: 60px;
  }
  .twenty-padding-right {
    padding-left: 20px;
  }
  .twenty-padding-left {
    padding-right: 20px;
  }
  .posted-date-text {
    color: @lightGrey;
  }
  .module-header {
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 50%;
    background-size: cover;
    width: 100%;
    height: 130px;
    display: block;
    border-radius: 10px 10px 0 0;
  }
  .module-left-header {
    background-image: url(../images/module-desk.jpg);
  }
  .module-content {
    padding: 5px 6px 55px 55px;
    position: relative;
    padding-bottom: 70px;
  }
  .more-case-studies {
    position: absolute;
    bottom: -1px;
    right: -1px;
    a {
      margin-right: -19px;
    }
    img {
      margin-top: 19px;
    }
  }
  .module-right-header {
    background-image: url(../images/module-popcorn.jpg);
  }
  #module-rounded-left {
    border-radius: 10px;
    background: #fff;
  }
  #module-rounded-right {
    border-radius: 10px;
    background: #fff;
  }
}
.extend-intelligent-view {
  background-color: #fff;
  padding-bottom: 40px;
  h1,
  h2 {
    font-weight: 300;
  }
  h1 {
    font-size: 48px;
    color: @grey;
    margin-top: 36px;
  }
  h2 {
    font-size: 30px;
    color: @darkBlue;
    margin-top: -5px;
  }
  p {
    color: @grey;
    font-size: 14px;
    text-align: center;
    max-width: 160px;
  }
  .emphasised-title {
    color: @orange;
  }
  .emphasised-header {
    color: @darkBlue;
  }
  .service {
    padding-top: 21px;
  }
  i {
    font-size: 50px;
    color: @lightBlue;
  }
}
.header-shadow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  z-index: -1;
  background: -moz-linear-gradient(top, rgba(241,241,241,1) 19%, rgba(241,241,241,0.99) 20%, rgba(255,255,255,0.01) 99%, rgba(255,255,255,0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(241,241,241,1) 19%,rgba(241,241,241,0.99) 20%,rgba(255,255,255,0.01) 99%,rgba(255,255,255,0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(241,241,241,1) 19%,rgba(241,241,241,0.99) 20%,rgba(255,255,255,0.01) 99%,rgba(255,255,255,0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-9 */
}
#activity {
  position: relative;
  padding-top: 40px;
  padding-bottom: 60px;
  h1 {
    font-size: 42px;
    color: @grey;
    font-weight: 300;
    padding-left: 20px;
  }
  h3 {
    font-size: 18px;
    display: inline;
    font-weight: 700;
    color: #fff;
  }
  .activity-header {
    h1,
    i {
      color: @grey;
      font-size: 32px;
    }
    i {
      vertical-align: middle;
      float: left;
      padding-right: 5px;
    }
    h1 {
      padding-left: 20px;
      font-weight: 300;
      font-size: 42px;
      margin-top: 15px;
      a {
        color: inherit;
        font-size: inherit;
      }
    }
  }
  .table-contents {
    padding: 25px;
    border: 2px solid @greyWhite;
    border-radius: 12px;
    thead {
      background-color: #f8f8f8;
      th,
      tbody {
        color: @grey;
      }
      th {
        padding: 22px;
      }
      i {
        vertical-align: middle;
        padding-left: 5px;
      }
    }
    td {
      padding: 20px;
    }
    tr {
      border-bottom: 1px solid #ddd;
    }
    .nav-pills li {
      a {
        background: @lightGrey;
        color: #fff;
        padding-top: 5px;
        padding-bottom: 0;
        font-size: 16px;
        height: 35px;
      }
      &.active {
        a {
          background-color: @blue;
        }
      }
    }
    .table-show {
      padding-bottom: 20px;
      * {
        display: inline-block;
        vertical-align: middle;
      }
      h2,
      h3 {
        font-size: 18px;
        color: @grey;
      }
      h2 {
        padding-right: 15px;
        margin-top: 10px;
        font-weight: 700;
      }
      ul {
        li {
          padding-right: 10px;
        }
      }
      .add-new-asset {
        float: right;
        h3 {
          padding-left: 9px;
          margin-top: 10px;
        }
        button {
          height: 35px;
          width: 35px;
          padding: 2px 0 0;
          border: 0;
          i {
            font-size: 28px;
            line-height: 0;
          }
        }
      }
    }
    .table-footer {
      vertical-align: middle;
      line-height: 25px;
    }
  }
}
.reports {
  .learn-side-bar {
    margin-top: 10px;
  }
}
.new-asset-modal {
  .learn-side-bar {
    margin-top: 0 !important;
    h2 {
      margin-top: 0;
    }
    & > i {
      float: left;
      font-size: 36px;
      padding-right: 10px;
    }
  }
  .form-section {
    padding-top: 23px;
  }
}
.learn-side-bar,
.report-sharing {
  i,
  h2 {
    font-size: 30px;
    color: @grey;
    font-weight: 300;
    margin-top: 0;
  }
  i {
    float: left;
    font-size: 36px;
    padding-right: 10px;
  }
}
.learn-side-bar {
  .learn-side-section {
    border-top: 1px solid #fff;
    .expanded-header {
      background: #afafaf;
    }
  }
}
.report-sharing {
  .btn {
    height: 32px;
    color: #fff;
    text-align: left;
    padding-left: 20px;
    font-size: 16px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 32px;
  }
}
.btn.full-report {
  background-color: #97cdd5;
  &:hover {
    background-color: lighten(#97cdd5, 10%);
  }
}
.btn.summary {
  background-color: @blue;
  &:hover {
    background-color: lighten(@blue, 10%);
  }
}
.side-dropdown-header {
  position: relative;
  height: 54px;
  padding-left: 20px;
  background-color: @lightGrey;
  cursor: pointer;
  i {
    font-size: 18px;
    color: #fff;
    position: absolute;
    top: 17px;
    right: 0;
  }
  span {
    line-height: 54px;
    font-size: 18px;
    display: inline;
    font-weight: 700;
    color: #fff;
  }
}
.dropdown-open {
  background-color: #afafaf;
}
.menu-btn {
  width: auto;
  height: auto;
  float: right;
  color: #fff;
}
.responsive-menu {
  position: relative;
  z-index: 10;
  display: none;
  ul {
    list-style-type: none;
    display: block;
    width: 100%;
    padding: 20px;
    margin: 0;
    li {
      text-align: left;
      display: block;
      background: #fff;
      a {
        text-decoration: none;
        display: block;
        color: @lightBlue;
      }
    }
  }
}
.tool-kit-body {
  .tool {
    padding-bottom: 20px;
  }
  & > .row {
    border-bottom: 1px solid @lightGrey;
    margin-bottom: 20px;
    &:last-of-type {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
}
#footer {
  background-color: @footerGrey;
  border-bottom: 20px solid @footerDarkestGrey;
  color: @lightGrey;
  font-weight: 300;
  a {
    font-weight: 400;
    color: @greyWhite;
    &:hover {
      text-decoration: none;
      color: #046A76;
    }
  }
  .calls-to-action {
    margin-top: 60px;
    margin-bottom: 60px;
    h1,
    h2,
    h3 {
      font-weight: 300;
      margin-top: 0;
      color: @greyWhite;
    }
    .questions {
      h1 {
        margin-bottom: 0;
        font-size: 3.5em;
      }
      h2 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 2.25em;
      }
      p {
        padding-right: 60px;
        font-size: 1.1em;
      }
      a {
        font-size: 1em;
      }
    }
    .toolkit {
      padding-left: 30px;
      border-left: 1px solid @greyWhite;
      height: 286px;
      h3 {
        max-width: 220px;
        margin-bottom: 20px;
        font-size: 2em;
      }
      ul {
        font-weight: 700;
        color: #f8f8f8;
        list-style-type: none;
        padding-left: 0;
        li {
          padding-bottom: 10px;
          i {
            margin-right: 5px;
            font-size: 23px;
            vertical-align: middle;
          }
          &:hover {
            color: #046A76;
          };
        }
      }
    }
  }
  #footer-contact {
    padding: 12px 0;
    background-color: @footerDarkGrey;
    span {
      display: inline-block;
      padding: 6px 0;
    }
    ul {
      margin-bottom: 0;
      list-style-type: none;
      li {
        display: inline-block;
        border-left: 1px solid @darkGrey;
        padding: 6px 20px;
        &:first-of-type {
          border-left: none;
        }
        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }
}
@media(max-width: 320px) {
  .whats-new {
    .content {
      padding-top: 10px;
    }
  }
  .new-to-intelligent-view {
    .container {
      padding-top: 10px;
      h1 {
        font-size: 36px;
      }
      li,
      a {
        font-size: 14px;
      }
    }
  }
  .intelligent-view-tips {
    margin-top: 40px;
    padding: 20px;
  }
  .module-highlights-section {
    .container {
      padding-top: 10px;
      padding-bottom: 30px;
      .module-content {
        padding: 5px 15px 39px 22px;
      }
    }
  }
  .extend-intelligent-view {
    h1 {
      font-size: 36px;
    }
  }
  #footer {
    #footer-contact {
      ul {
        li {
          padding: 6px 10px;
          border: 0;
        }
      }
    }
  }
}
label.inline-file-select {
  padding-left: 0;
  display: inline;
  input {
    width: auto;
    display: inline;
    margin-left: 10px;
  }
}
@media(max-width: 576px) {
  .whats-new-feature-left {
    p {
      max-width: initial;
    }
  }
  .whats-new-feature-right {
    p {
      max-width: initial;
    }
  }
  #customer-profile {
    .big-bad-dropdown-label {
      font-size: 48px;
      margin-top: 38px;
    }
  }
  .modal-content {
    padding-left: 10px;
    padding-right: 10px;
    button.close {
      margin-right: 0;
    }
  }
  .tool-kit-body {
    padding: 0 10px;
    .tool {
      .tool-icon-container {
        width: 50px !important;
        i {
          font-size: 40px !important;
        }
      }
    }
  }
}
@media(max-width: 767px) {
  header {
    .logo {
      width: 250px;
    }
    .login-form {
      float: none;
      margin-bottom: 15px;
    }
    .logo-link {
      margin-bottom: 20px;
    }
    .nav-button {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  header.authenticated {
    .logo-link {
      margin-bottom: 0;
    }
    .logged-in-container {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .new-to-intelligent-view {
    .intelligent-view-tips {
      background-color: #bee89a;
      background-image: none;
      height: auto;
      width: auto;
      margin-left: -15px;
      margin-right: -15px;
    }
    .intelligent-view-lists {
      .intelligent-view-item {
        img {
          width: 100%;
        }
      }
    }
  }
  .whats-new {
    padding-bottom: 55px;
    .pull-right {
      float: none !important;
    }
    .see-all {
      position: initial;
      padding-left: 0;
    }
    .whats-new-feature-left,
    .whats-new-feature-right {
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 initial initial;
      border: 0;
      p,
      h2,
      a,
       {
        max-width: initial;
        text-align: center;
      }
      h2 {
        margin-top: 0;
      }
    }
    .whats-new-feature-left {
      margin-bottom: 0;
    }
    .carousel {
      .carousel-indicators {
        bottom: -45px;
      }
      .carousel-control {
        top: auto;
        bottom: -35px;
      }
    }
  }
  #footer {
    .calls-to-action {
      margin-top: 30px;
      margin-bottom: 30px;
      .toolkit {
        border: none;
        padding-left: 15px;
        padding-top: 0;
        height: auto;
      }
    }
    #footer-contact {
      text-align: center;
      ul {
        padding: 0;
        margin: auto;
        float: none !important;
        li:first-of-type {
          padding-left: 0;
        }
      }
    }
  }
}
@media(max-width: 991px) {
  ul.branch-list {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid @lightGrey;
  }
  .row.seperated-md {
    border: none;
    margin-bottom: 0;
  }
  .n-per-page {
    float: left;
  }
  .tool-kit-body {
    & > .row {
      border: none;
      padding-bottom: 0;
      padding-top: 0;
      &:last-of-type {
        .tool:last-of-type {
          border: none;
          padding-bottom: 0;
        }
      }
    }
    .tool {
      border-bottom: 1px solid @lightGrey;
      width: 100%;
      .tool-details {
        h2 {
          font-size: 28px;
        }
      }
      .tool-icon-container {
        i {
          font-size: 60px;
          padding-top: 15px;
        }
      }
    }
  }
}
@media(min-width: 768px) and (max-width: 991px) {
  header {
    .logo {
      width: 260px;
    }
    .login-form {
      margin-bottom: 15px;
    }
  }
}