<header>
  <div class="container custom-container-width">
    <div class="row">
      <div class="col-xs-12">
        <div class="help-options pull-right">
          <a href="javascript:void;">Need Help</a> |
          <a href="javascript:void;">Français</a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-5">
        <a class="logo-link" href="#">
          <img class="logo" src="images/logo.png">
        </a>
      </div>
    <div class="col-sm-9 col-md-7">
<a href="#"></a>|<a href="#">TD</a>
      </div>
    </div>
  </div>
</header>
