<header>
  <div class="container custom-container-width">
    <div class="row">
      <div class="col-xs-12">
        <div class="help-options pull-right">
          <a href="javascript:void;">Français</a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-5">
        <a class="logo-link" href="#">
          <img class="logo" src="images/logo.png">
        </a>
      </div>
      <div class="col-sm-9 col-md-7">
        <div class="inline-forms">
          <form class="form-inline login-form">
              <div class="form-group">
                <label class="sr-only" for="exampleInputEmail3">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
              </div>
              <div class="form-group">
                <label class="sr-only" for="exampleInputPassword3">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
              </div>
            <button type="submit" class="btn btn-default">Log in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
